* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
  border: none;
  color: var(--primary-lacivert);
  font-size: 0.9rem;
  letter-spacing: 1px;
}
:root {
  /* shadows */
  --light-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  /* Colors */
  --primary-blue: hsl(205, 78%, 60%);
  --primary-light-blue: hsl(205, 90%, 76%);
  --primary-gray: #555;
  --primary-light-gray: hsl(209, 23%, 60%);
  --primary-lighter-grey: hsl(210, 31%, 80%);
  --primary-red: hsl(360, 71%, 66%);
  --primary-green: hsl(125, 67%, 44%);
  --primary-black: #222;
  --primary-black-2: #333;
  --primary-lacivert: rgb(22, 47, 70);

  /* borders */
  --main-border: 1px solid black;
  --border-radius: 0.25rem;
  /*  transitions*/
  --primary-transition: all 0.3s ease;
  --primary-transition-2: all 0.5s ease-in-out;
  /* fonts */

  --primary-aerial: Arial;
}

/* body{
    display: grid;
    place-items: center;
}
 */
html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* header(roof) */
.roof {
  width: 100vw;
  height: 40px;
  background-color: var(--primary-lacivert);
  color: #ffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: var(--dark-shadow);
  opacity: 0.9;
}
.roof-container {
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.roof-container > h2,
.roof-container > h2 > span,
.roof-container > h2 > span i {
  color: #ffff;
  font-size: 16px;
  white-space: nowrap;
}
.roof-container > h2 > span {
  padding: 0 10px;
  font-size: 16px;
}
.roof-container > h2 > span > i {
  padding-right: 10px;
  font-size: 18px;
}

.social-signs {
  display: flex;
  color: #ffff;
  padding: 0 20px;
}
.roof .social-signs > a {
  text-decoration: none;
  margin-left: 10px;
}
.social-signs > a > i {
  color: #ffff;
  font-size: 20px;
  transition: var(--primary-transition);
}
.social-signs > a > i:hover {
  color: rgb(143, 172, 192);
  font-size: 20px;
}

/* nav */

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.navbar {
  width: 100%;
  max-width: 1280px;
  height: 150px;
  display: flex;
  padding: 10px;
  margin-bottom: 0;
  z-index: 500;
}

.navbar .logo {
  height: 100px;
  width: 300px;
  background-image: url(./logo1.png);
  background-repeat: no-repeat;
  background-size: 200px 100px;
  margin: 5px;
  margin-top: 20px;
}
.navbar .menu {
  height: 130px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-bottom: 6px;
  z-index: 100;
}
.navbar .menu > li > a {
  font-size: 22px;
  padding: 10px;
  color: hsl(205, 39%, 36%);
  border-radius: 5px;
  transition: var(--primary-transition-2);
  z-index: 100;
}

.navbar .menu li > a > i {
  font-size: 15px;
  padding-left: 2px;
  z-index: 100;
}

.navbar .menu > li {
  position: relative;
}
.navbar .menu > li:hover > a {
  background-color: var(--primary-blue);
  color: #fff;
  transition: var(--primary-transition);
}
.navbar .menu > li:hover > a > i {
  color: #fff;
}

.drop-menu {
  position: absolute;
  top: 35px;
  width: 240px;
  border: 1px solid rgb(151, 138, 20);
  background-color: rgb(255, 254, 254);
  border-radius: 5px;
  z-index: 100;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  transform: scale(0, 0);
}
.navbar .menu li:hover > ul {
  opacity: 1;
  visibility: visible;
  transform: scale(1, 1);
}

.navbar li .drop-menu > li {
  padding: 10px 0;
  padding-left: 10px;
  width: 100%;
  transition: var(--primary-transition);
}
.navbar li .drop-menu > li > a {
  font-size: 19px;
  padding: 2px 0;
  transition: var(--primary-transition);
}

.navbar li .drop-menu > li:hover {
  color: #fff;
  background-color: var(--primary-lacivert);
}
.navbar li .drop-menu > li:hover > a {
  color: #fff;
}

.drop-menu-2 {
  position: absolute;
  top: 35px;
  width: 300px;
  border: 1px solid rgb(151, 138, 20);
  background-color: rgb(255, 254, 254);
  border-radius: 5px;
  z-index: 100;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  transform: scale(0, 0);
}
.navbar li .drop-menu-2 > li {
  padding: 10px 0;
  padding-left: 10px;
  width: 100%;
  transition: var(--primary-transition);
}
.navbar li .drop-menu-2 > li > a {
  font-size: 19px;
  transition: var(--primary-transition);
  padding: 2px 0;
}

.navbar li .drop-menu-2 > li:hover {
  color: #fff;
  background-color: var(--primary-lacivert);
}
.navbar li .drop-menu-2 > li:hover > a {
  color: #fff;
}

/* section--slider */
section.slider {
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.slider-container {
  width: 1280px;
  max-width: 1280px;
  height: 640px;
  position: relative;
}
.slider-container > .tek-link {
  position: fixed;
  width: 250px;
  height: 50px;
  background-color: var(--primary-lacivert);
  z-index: 400;
  top: 225px;
  right: 0px;
  color: white;
  border-radius: 10px 0 0 10px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  font-size: 17px;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.3);
  transition: var(--primary-transition);
  opacity: 0.8;
}

.slider-container > a:hover {
  box-shadow: 0px 2px 5px 3px var(--primary-blue);
  background-color: var(--primary-blue);
}

.slider-container > article {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 120;
  transition: opacity 1.2s ease-in-out;
  opacity: 0;
}
.slider-container > article.active {
  opacity: 1;
}
.slider-container > article > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-container > article > .img-desc {
  position: absolute;
  top: 300px;
  right: 80px;
  text-align: left;
  animation: kartal 8s linear infinite;
  animation-direction: alternate;
  background-color: rgb(114, 86, 86);
  opacity: 0.5;
  padding: 5px 10px;
}

.slider-container > article > .img-desc > p {
  color: #fff;
  font-size: 60px;
  opacity: 1;
  letter-spacing: 1px;
}
/* .anima{
  animation: kartal 1.5s ease;
} */

/* resim yazı animasyonu */
-@keyframes kartal {
  0% {
    transform: translateY(20%);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
.slider-container .btns-hover {
  position: absolute;
  bottom: 10px;
  left: 47%;
  z-index: 200;
}
.slider-container .btns-hover button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 3px;
  background-color: rgb(189, 187, 187);
  cursor: pointer;
  transition: background-color 1.2s ease;
}
.slider-container .btns-hover button.active {
  background-color: rgb(100, 99, 99);
}

/* section bilgi */

section.bilgi {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.bilgi-container {
  width: 1280px;
  max-width: 1280px;
  height: 580px;
  text-align: center;
  padding: 10px 10px;
  padding-left: 5px;
}
.bilgi-container > .bilgi-title {
  margin-top: 10px;
  margin-bottom: 40px;
  color: rgb(5, 69, 126);
  font-size: 25px;
  animation: title 1.5s ease-in-out forwards;
  padding: 0 10px;
}
--@keyframes title {
  0% {
    transform: scale(0, 0.025);
  }
  50% {
    transform: scale(1, 0.025);
  }
}

.bilgi-container > p {
  color: hsl(210, 22%, 49%);
  font-size: 16px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0;
  font-weight: lighter;
  line-height: 1.4;
}
.bilgi-container > p > span {
  color: rgb(56, 56, 56);
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(5, 69, 126);
}

.bilgi-container .bilgi-pics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}
.bilgi-container > .bilgi-pics > .bilgi-foto {
  width: 600px;
  height: 320px;
  background-color: #222;
  border-radius: 5px;
  position: relative;
}
.bilgi-container > .bilgi-pics > .bilgi-foto::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: rgb(211, 178, 112);
  z-index: 10;
  top: -65px;
  right: -60px;
  opacity: 0.5;
}
.bilgi-container > .bilgi-pics > .bilgi-foto > img {
  width: 600px;
  height: 320px;
  object-fit: cover;
  opacity: 0.8;
}
.car-line {
  color: rgb(211, 178, 112);
  animation: arrow 2s ease-in-out infinite alternate;
  white-space: nowrap;
}

-@keyframes arrow {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0%);
  }
  0% {
    transform: translateX(-25%);
  }
}

.bilgi-svg {
  width: 320px;
  height: 320px;
  background-image: url(./imgs/buildings.svg);
  background-repeat: no-repeat;
  background-size: 320px 320px;
}
/* section-components */
section.components {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.components-container {
  width: 1280px;
  max-width: 1280px;
  height: 480px;
  padding: 10px 10px;
  padding-left: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  justify-content: center;
  position: relative;
}

.components-container > article::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 3px;
  background-color: var(--primary-blue);
  bottom: 0;
  transition: var(--primary-transition);
}
.components-container > article:hover::before {
  width: 305px;
}
.components-container > article > .compo-img-container {
  width: 305px;
  height: 225px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}
.components-container > article > .compo-img-container > figure {
  width: 305px;
  height: 225px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.components-container > article > .compo-img-container > figure > img {
  object-fit: cover;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.components-container > article > .compo-img-container > figure > img:hover {
  transform: scale(1.3);
}
.components-container > article > h5 {
  font-size: 13px;
  padding: 5px;
  color: rgb(146, 123, 78);
  opacity: 0.8;

  margin-bottom: 10px;
}
.components-container > article > h3 {
  font-size: 20px;
  padding: 5px;
  padding-bottom: 0;
  color: var(--primary-lacivert);
}
.components-container > article > p {
  font-size: 15px;
  padding: 5px;
  color: hsl(209, 34%, 30%);
  letter-spacing: 0;
  line-height: 1.4;
}
/* section-lift types */

section.lift {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 30px;
}
.lift-container {
  width: 1280px;
  max-width: 1280px;
  height: 200px;
  padding: 10px 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.lift-container > .lift-article {
  width: 160px;
  height: 160px;

  text-align: center;
  padding-top: 20px;
  box-shadow: var(--dark-shadow);
  transition: transform 0.2s ease;
}
.lift-container > .lift-article:hover {
  transform: translate(2%, -3%);
}

.lift-container > .lift-article > h3 {
  font-size: 17px;
  padding-top: 3px;
  margin-top: 10px;
  width: 160px;
  color: var(--primary-lacivert);
  opacity: 0.9;
}
.lift-container > .lift-article > .lift-svg-1 {
  width: 80px;
  height: 80px;
  background-color: var(--primary-blue);
  mask-image: url("./imgs/tools-5.svg");
  -webkit-mask-image: url("./imgs/tools-5.svg");
  mask-size: 80px 80px;
  mask-repeat: no-repeat;
  margin-left: 40px;
}
.lift-container > .lift-article > .lift-svg-2 {
  width: 80px;
  height: 80px;
  background-color: var(--primary-blue);
  mask-image: url("./imgs/tools-6.svg");
  mask-size: 80px 80px;
  mask-repeat: no-repeat;
  margin-left: 40px;
}
.lift-container > .lift-article > .lift-svg-3 {
  width: 80px;
  height: 80px;
  background-color: var(--primary-blue);
  mask-image: url("./imgs/tools-7.svg");
  mask-size: 80px 80px;
  mask-repeat: no-repeat;
  margin-left: 40px;
}
.lift-container > .lift-article > .lift-svg-4 {
  width: 80px;
  height: 80px;
  background-color: var(--primary-blue);
  mask-image: url("./imgs/tools-9.svg");
  mask-size: 80px 80px;
  mask-repeat: no-repeat;
  margin-left: 40px;
}
.lift-container > .lift-article > .lift-svg-5 {
  width: 80px;
  height: 80px;
  background-color: var(--primary-blue);
  mask-image: url("./imgs/tools-10.svg");
  mask-size: 80px 80px;
  mask-repeat: no-repeat;
  margin-left: 40px;
}

/* section -(half footer) */
.half-footer {
  width: 100%;
  height: 360px;
  padding: 0;
  position: relative;
  background-color: rgb(56, 56, 56);

  box-shadow: var(--dark-shadow);
}
.half-footer > .footer-btn {
  position: absolute;
  z-index: 300;
  width: 45px;
  height: 45px;
  color: #fff;
  background-color: var(--primary-blue);
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  padding-top: 8px;
  box-shadow: 0px 1px 4px #fff;
  transition: transform 0.3s ease;
}

.half-footer > .footer-btn > i {
  color: #fff;
  font-size: 28px;
}
.half-footer > .footer-btn:hover {
  transform: translateY(-10%);
}
.half-images {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: var(--light-shadow);
  justify-content: center;
  align-content: center;
}

.half-images div {
  height: 360px;
  grid-row: 1;
}

.half-images > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.half-footer-details {
  position: absolute;
  z-index: 100;
  width: 67%;
  height: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.half-details-1,
.half-details-2 {
  line-height: 1.6;
}

.half-footer-details h3 {
  font-size: 20px;
  font-weight: 1000;
  color: rgb(224, 222, 222);
  margin-bottom: 15px;
}
.half-footer-details p {
  font-size: 15px;
  color: rgb(224, 222, 222);
}
.half-footer-details a,
.half-footer-details i {
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(224, 222, 222);
}
.half-details-2 {
  text-align: right;
}
.foot-social {
  margin-top: 15px;
}

.foot-social > a > i {
  font-size: 32px;
  font-weight: inherit;
  text-decoration: none;
  margin-left: 20px;
}

/* footer */
footer {
  width: 100%;
  height: 70px;
  background-color: var(--primary-lacivert);
  border-top: 3px solid rgb(94, 116, 136);
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot {
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.foot a {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: inherit;
  font-size: 14px;
  padding: 7px 25px;
  border-right: 1px solid rgb(202, 202, 202);
  cursor: pointer;
  white-space: nowrap;
  opacity: 0.8;
}
.bord:last-child {
  border-right: none;
}

/* hakkımda section */
section.hakk {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--primary-lacivert);
  
}
.hakk-container {
  width: 1280px;
  max-width: 1280px;

  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 50px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 70px;
}

.hakk-container > .container-alt-menu {
  padding: 10px;
  margin: 0 auto;
}
.hakk-container > .container-alt-menu > ul {
  width: 200px;
  align-items: center;
  padding: 0;
}
.hakk-container > .container-alt-menu > ul > li {
  width: 200px;
  padding: 10px 20px;
  text-align: left;
  box-shadow: var(--dark-shadow);
}
.hakk-container .alt-hov:hover > a {
  color: rgb(146, 123, 78);
}
.hakk-container > .container-alt-menu > ul > li > a {
  margin: 0;
  padding: 10px;
  letter-spacing: 1px;
  font-size: 14px;
  transition: color 0.3s ease;
}
.hakk-container > .container-alt-menu > ul > li > a > i {
  padding-right: 1px;
}
.hakk-container > .container-alt-menu > ul .alt-li-title > a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--primary-lacivert);
  color: #fff;
}
.hakk-container > .container-alt-menu > ul .alt-li-title {
  background-color: var(--primary-lacivert);
}

.alt-ul > li.alt-hov-3>a,
.alt-ul > li .alt-hov-3>a> i {
  color: rgb(146, 123, 78);
}

.hakk-details {
  padding: 10px;
  text-align: left;
}
.hakk-details > .hakk-img-container {
  width: 400px;
  height: 400px;
}
.hakk-details > .hakk-img-container > img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  color: hsl(209, 34%, 30%);
  border-radius: 5px;
}

.hakk-details > p {
  width: 80%;
  color: hsl(209, 34%, 30%);
  text-align: left;
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.3;
}
.hakk-details > p > span {
  color: rgb(146, 123, 78);
  font-weight: bold;
  text-decoration: underline;
  font-size: 16px;
  line-height: 1.3;
}
.hakk-container:last-child {
  border-bottom: 3px solid var(--primary-blue);
}

/* section ekibimiz */

.ekip-details {
  padding: 10px;
  text-align: left;
}
.ekip-details {
  padding: 10px;
  text-align: left;
}
.ekip-details > p {

  color: hsl(209, 34%, 30%);
  text-align: left;
  margin: 50px 0;
  font-size: 16px;
  line-height: 1.3;
  padding-left: 40px;
  padding-right: 30px;
}
.ekip-details >.ekip-img-container{
  
  display: flex;
  justify-content: center;
  align-items: center;


}
.ekip-2{
  margin-bottom: 50px;
}
.ekip-details >.ekip-img-container>.ekip-img-con{
  
width: 400px;
height: 400px;
margin-right: 10px;
}
.ekip-img-con>img{
  width: 400px;
height: 400px;
object-fit: cover;
border-radius: 5px;
}

/* section YÖNETMELİKLER*/
.yonet-details {
  padding: 10px;
  text-align: left;
}
.yonet-details >h2{
  margin-bottom: 5px;
  margin-top: 50px;
  color: var(--primary-lacivert);
}
.yonet-details >.yonet-first{

  margin-top: 10px;

}
.yonet-details a{
text-decoration: underline;
color: var(--primary-blue);

}
.yonet-details h5{
text-decoration: underline;
color: var(--primary-blue);
margin-top: 10px;
margin-bottom: 5px;
text-align: center;

}
.yonet-details p{

color: hsl(209, 34%, 30%);
  text-align: left;
 margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.3;
 

}




